<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="{{ url_for('pagina_inicial') }}"
        style="
      display: inline-block; 
      padding: 10px 20px; 
      background-color: #007BFF; 
      color: white; 
      text-decoration: none; 
      border-radius: 5px; 
      font-weight: bold;
      text-align: center;
   ">Voltar para o início</a>
    </header>

    <main>
        {% block conteudo %}
        {% endblock %}
    </main>

    <footer>
        este é o rodapé
    </footer>
</body>
</html>