{% extends 'base.html' %}

{% block conteudo %}
<h1>
    pagina de jogo
</h1>
<div>
    <form action="/responder" method="post">
        <div>
            <div class="div_linha">
                <button name="botao1"></button>
                <button name="botao2"></button>
                <button name="botao3"></button>
                <button name="botao4"></button>
                <button name="botao5"></button>
            </div>
            <div class="div_linha">
                <button name="botao6"></button>
                <button name="botao7"></button>
                <button name="botao8"></button>
                <button name="botao9"></button>
                <button name="botao10"></button>
            </div>
            <div class="div_linha">
                <button name="botao11"></button>
                <button name="botao12"></button>
                <button name="botao13"></button>
                <button name="botao14"></button>
                <button name="botao15"></button>
            </div>
            <div class="div_linha">
                <button name="botao16"></button>
                <button name="botao17"></button>
                <button name="botao18"></button>
                <button name="botao19"></button>
                <button name="botao20"></button>
            </div>
            <div class="div_linha">
                <button name="botao21"></button>
                <button name="botao22"></button>
                <button name="botao23"></button>
                <button name="botao24"></button>
                <button name="botao25"></button>
            </div>
        </div>
        <button type="submit">Enviar</button>
    </form>
</div>
{% endblock %}